@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --gradient: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  --background: #343d4b;
  --primary-clr: #222831;
  --secondary-clr: #ffffff;
  --third-clr: #282f3b;
}

* {
  font-family: "Josefin Sans", sans-serif;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

body.dark {
  --background: #dedddd;
  --primary-clr: #ffffff;
  --secondary-clr: #222831;
  --third-clr: #e2e2e2;
}

/* Header  */

header {
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-clr);
  width: 100vw;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  color: var(--secondary-clr);
  border: 1px solid var(--secondary-clr);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.2) inset;

  margin: 0px;
  width: 140px;
  height: 40px;
  background-color: var(--primary-clr);
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  color: var(--secondary-clr);

  content: attr(data-on);
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  top: 7px;
  right: 20px;
  color: var(--secondary-clr);
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 70px;
  height: 25px;
  background: #fff;
  border-radius: 26px;
  position: absolute;
  font-size: 20px;
  display: flex;
  justify-content: center;
  left: 2px;
  top: 2px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
  color: #222;
  font-weight: 600;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
  text-align: center;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner {
  background-color: var(--primary-clr);
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);

  left: 68px;
}

.btn-color-mode-switch
  input[type="checkbox"]:checked
  + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
  color: var(--secondary-clr);
}

.toggle-switch {
  position: relative;
  width: 100px;
  height: 40px;
  --light: var(--secondary-clr);
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  border: 1px solid var(--secondary-clr);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.2) inset;

  position: absolute;
  width: 100%;
  height: 40px;
  background-color: var(--primary-clr);
  border-radius: 25px;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--secondary-clr);
  box-shadow: inset 12px -4px 0px 0px var(--secondary-clr);
  background-color: var(--primary-clr);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--primary-clr);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Weather  */

.weather-container {
  display: flex;
  width: 575px;
  height: 450px;
  align-self: center;
  margin-top: 17vh;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.today-weather-gradient {
  box-sizing: border-box;
  background-image: var(--gradient);
  border-radius: 25px;
  opacity: 0.8;
  width: 275px;
  height: 450px;
  border-radius: 25px 0 0 25px;
  /* margin-top: -20px; */
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.today-weather:hover,
.today-weather-gradient:hover {
  transform: scale(1.01);
}

.today-weather {
  border-radius: 25px 0 0 25px;
  width: 275px;
  height: 450px;
  background-image: url("https://images.unsplash.com/photo-1559963110-71b394e7494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80");
  background-repeat: no-repeat;
}

.today-date {
  color: var(--secondary-clr);
}

.today-date h3 {
  font-weight: 400;
}

.today-temp {
  color: var(--secondary-clr);
}

.today-temp h1 {
  font-size: 60px;
  margin-bottom: -20px;
}

.info-side {
  box-sizing: border-box;
  border-radius: 0 25px 25px 0;
  background-color: var(--primary-clr);
  width: 300px;
  height: 450px;
  padding: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-sub-class {
  color: var(--secondary-clr);
  display: flex;
  justify-content: space-between;
}

.info-sub-class h3,
.info-sub-class h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.info-sub-class h4 {
  font-weight: 400;
}

.days {
  /* padding: 20px; */
  color: var(--secondary-clr);
  background-color: var(--third-clr);
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  border-radius: 15px;
  overflow: auto hidden;
}

::-webkit-scrollbar {
  width: 1.5em;
  height: 0.65em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 100vh;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  margin-inline: 0.4em;
}

.days div {
  padding-top: 50px;
  height: 118px;
  width: 40px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.days div:hover {
  color: var(--primary-clr);
  background-color: var(--secondary-clr);
  transform: scale(1.075);
}

.days div h4:nth-of-type(1) {
  font-weight: 400;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.search-bar-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.search-bar input {
  height: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--third-clr);
  color: var(--secondary-clr);
  font-weight: 700;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  cursor: pointer;
  color: var(--secondary-clr);
  font-weight: 700;
  height: 25px;
  background-image: var(--gradient);
  border: none;
  border-radius: 30px;
}

.search-bar button:hover {
  transform: scale(0.97);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
